<form class="{{cssClass}} smt-sheet" autocomplete="off">
  {{> "systems/smt-tc/templates/parts/item/header.hbs"}}

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item resource-label" data-tab="details">{{localize "SMT.tabs.details"}}</a>
    <a class="item resource-label" data-tab="config">{{localize "SMT.tabs.config"}}</a>
  </nav>

  <section class="sheet-body">
    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/smt-tc/templates/parts/item/skill/details.hbs"}}
    </div>

    {{!-- Config Tab --}}
    <div class="tab config" data-group="primary" data-tab="config">
      {{> "systems/smt-tc/templates/parts/item/skill/config.hbs"}}
    </div>
  </section>
</form>